[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RPatternJoin"]
	path = RPatternJoin
	url = https://github.com/matveevdaniil/rpatternjoin
